# Dependencies
node_modules
.pnpm-store

# Production build
dist
dist-ssr

# System and logs
*.log
.system_generated
.DS_Store

# Local Interview Docs (Not pushed to GitHub)
interview_prep.md

# IDE & local env
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.env.local
.env.*.local
